/* Import Local CSS */
@import url('/css/reset.css');
@import url('/css/variables.css');

/* Common CSS */
* {
  font-family: var(--primary-kr);
}
body {
  margin: 0;
  color: var(--dark-black);
  font-size: 14px;
}
.logo {
  font-family: var(--logo-en);
}

/* Layout CSS */
.container {
  width: 375px; 
  position: relative;
}

/* Preloading Html */
.preloading{
  height: 100vh;
}

.preloading-inner {
  height: inherit;
  background: url('/img/01-Preloading-01.jpg') no-repeat -110px center;
  background-size: cover;
}
.heading-preloading-inner{
  position: absolute;
  top: 160px; left: 30px;
}
.heading-preloading-inner .logo{
  font-size: 32px;
  color: var(--crimson);
}
.slogan span {
  display: block;
  font-family: var(--secondary-kr);
  margin-top: 14px;
  font-weight: bold;
  font-size: 28px;
}

/* Signin Html */
.signin {
  height: 750px;
}
.signin-photo{
  background: url('/img/02-Login-01.jpg') no-repeat;
  height: 250px;
}

/* Signin Header */
.signin-header{
  text-align: center;
}
.signin-header .logo{
  font-size: 26px;
  margin-bottom: 0;
}
.signin-header p {
  font-size: 16px;
  font-weight: 400;
}

/* Signin Input */
.input-field input {
  width: 100%;
  margin: 5px 0;
  padding: 10px 20px;

  border: 1px solid var(--cloudy-gray);
  border-radius: 30px;  
}
.input-field input:focus{
  border-color: var(--yellowgreen);
}
.input-field input::placeholder{
  color: var(--light-black);
  transition: 0.35s;
}
.input-field input:focus::placeholder{
  opacity: 0;
}

/* Signin Status */
.status{
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.custom-chk label input[type=checkbox]{
  display: none;
}
.custom-chk input[type=checkbox] + em {
  width: 16px; height: 16px;
  display: inline-block;
}
.custom-chk input[type=checkbox] + em:before {
  content: '';
}
