@import url(/Basic_code/reset.css);

html {
  background-color: rgb(255, 253, 247);
}
body {
  margin: 30px 20%;
  padding: 0;
  text-align: center;
}

#title {
  margin-bottom: 20px;
}
#title h2{
  margin-bottom: 5px;
  font-family: 'Nanum Myeongjo', serif;
}
#title p{
  font-size: small;
  color: #777;
}

/* buttons */
#themes button {
  background-color: white;
  color: gray;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}
#themes button:hover{
  border: 1px solid aqua;
  color: aqua;
}

/* Body */
.wrap {
  width: 90%;
  margin: 10px auto;
  position: relative;
}

.designer, .freelancer, .photographer, .analyst,
 .editor, .employee{
  width:30%; height: 270px;
  margin: 10px;
  border: none;
  float: left;

  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(178, 177, 177);
}



